@import '../../mixins.scss';

.login {
    height: 100vh;

    .logInContent {
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        display: grid;
        @include md {
            grid-template-columns: 2fr 1fr;
        }
        .image {
            height: 100vh;
            display: none;
            justify-content: center;
            align-items: center;

            img {
                width: 70%;
                display: block;
            }
            @include md {
                display: flex;
            }
        }

        .form {
            background-color: white;
            height: 100vh;
            display: flex;
            align-items: center;
            padding: 20px 40px;
            justify-content: center;
            @include md {
                justify-content: start;
            }
            .text {
                h4 {
                    margin-bottom: 2px;
                    color: #544f5a;
                }

                P {
                    font-size: 16px;
                    color: #89868de1;
                }

                margin-bottom: 15px;
            }

            input {
                outline: none;
                border: 1px solid #77777795;
                margin-bottom: 8px;
                width: 100%;
                &::placeholder {
                    color: #777777ab;
                }
                @include sm {
                    width: 400px; 
                }
            }

            .forget {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 15px 0px;
                input {
                    width: 100%;
                }
                p {
                    color: var(--primary);
                    cursor: pointer;
                }
                span.remember {
                    color:#89868de1;
                    display: inline-block;
                    position: relative;
                    top: 1px;
                    left: -6px;
                }
            }

            button {
                width: 100%;
                padding: 7px;
            }
        }

    }
}