.shippingAddress {
    margin-top: 20px;
    .boxShadow {
        padding: 10px 30px 20px;
        h4 {
            margin: 10px 0px;
            color: #544f5a;
            font-size: 17px;
        }
        p {
            font-size: 14px;
            color: #777777c4;
        }
    }
}