.buttonIist {
    .buttonName span {
        color: rgb(238, 238, 238);
    }

    .list span {
        color: rgba(238, 238, 238, 0.7);
    }
    svg {
        color: rgb(238, 238, 238);
        opacity: 0.5;
    }
}