@import '../../../mixins.scss';

.menu {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.159);
    height: 100vh;
    width: 100%;
    right: 0;
    top: 0;
    z-index: 10000000000000;
    transform: translateX(-100%);
    transition: 0.5s;
    display: block;
    .flex {
        justify-content: start;
        .content {
            background-color: #282a42 !important;
            height: 100vh;
            width: 400px;
            padding: 20px 0px 0px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid rgba(255, 255, 255, 0.213);
                padding: 10px 20px;
                color: #ffffff;
                h2 {
                    font-size: 25px;
                    font-weight: 600;
                }

                button {
                    background-color: transparent;
                    border: none;
                    font-size: 25px;
                    cursor: pointer;
                    color: #ffffff;
                }
            }

            .logo {
                margin: 20px 0px;
                text-align: center;
            }

            ul {
                &::-webkit-scrollbar {
                    width: 4px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: #bdbdbdce;
                    border-radius: 6px;
                }

                &::-webkit-scrollbar-track {
                    background-color: #282a42 !important;
                }

                height: 50vh;
                overflow-y: auto;

                li {
                    display: flex;
                    align-items: center;
                    color: #d1d1e7;
                    font-size: 1rem;
                    padding: 9px 16px;
                    border-radius: 6px;
                    list-style: none;
                    cursor: pointer;
                    transition: 0.5s;
                    width: 90%;
                    transition: 0.3s;

                    svg {
                        color: #d1d1e7;
                        opacity: 0.5;
                    }

                    &:hover {
                        background-color: rgba(164, 164, 164, 0.134);
                    }
                }

                li.active {
                    color: #FFFFFF;
                    background: linear-gradient(270deg, #9055fd 0%, #c4a5fe 100%);
                    border-radius: 0 50rem 50rem 0;

                    svg {
                        color: #FFFFFF;
                        opacity: 0.5;
                    }
                }
            }

            .logOut {
                display: flex;
                align-items: center;
                color: #d1d1e7;
                font-size: 1rem;
                padding: 15px 16px;
                list-style: none;
                cursor: pointer;
                transition: 0.5s;
                width: 100%;
                transition: 0.3s;

                svg {
                    color: #d1d1e7;
                    opacity: 0.5;
                }

                &:hover {
                    background-color: rgba(164, 164, 164, 0.134);
                }
            }



        }
    }
    @include xl{
        display:none;
    }
}


.menu_active {
    transform: translateX(0%);
}