.revenue {
    padding: 20px 25px;
    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .icon {
            background-color: rgb(86, 202, 0);
            width: 40px;
            height: 40px;
            position: relative;
            color: white;
            border-radius: 50%;
            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .text {
        line-height: 1.4;
        p {
            &:first-of-type {
                margin: 10px 0px 0px 0px;
                color: #000000;
                font-size: 17px;
            }
            &:nth-of-type(2) {
                color: #000000ae;
                font-size: 25px;
                font-weight: 500;
            }
        }
    }
}