@import '../../mixins.scss';

.sidebar {
    width: 220px;
    background-color: #282a42 !important;
    height: 100vh;
    justify-content: space-between;
    flex-direction: column;
    display: none;

    @include md {
        display: flex;
    }

    .logo {
        margin: 20px 0px;
        text-align: center;
    }

    ul {
        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #bdbdbdce;
            border-radius: 6px;
        }

        &::-webkit-scrollbar-track {
            background-color: #282a42 !important;
        }

        height: 60vh;
        overflow-y: auto;

        li {
            display: flex;
            align-items: center;
            color: #d1d1e7;
            font-size: 1rem;
            padding: 9px 16px;
            border-radius: 6px;
            list-style: none;
            cursor: pointer;
            transition: 0.5s;
            width: 90%;
            transition: 0.3s;
            svg {
                color: #d1d1e7;
                opacity: 0.5;
            }

            &:hover {
                background-color: rgba(164, 164, 164, 0.134);
            }
        }

        li.active {
            color: #FFFFFF;
            background: linear-gradient(270deg, #9055fd 0%, #c4a5fe 100%);
            border-radius: 0 50rem 50rem 0;
            svg {
                color: #FFFFFF;
                opacity: 0.5;
            }
        }
    }

    p {
        color: rgba(255, 255, 255, 0.716);
        text-align: center;
        margin-bottom: 10px;
    }
}