@import '../../mixins.scss';

footer {
    padding: 0px;
    display: flex;
    justify-content: end;
    padding: 15px 20px;
    font-size: 15px;
    .madeBy {
        color: rgba(7, 7, 7, 0.423);
        svg {
            color: red;
        }
        span {
            color: var(--primary);
            margin: 0px 5px;
            font-weight: 500;
            cursor: pointer;
        }
    }
}